body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    
}
p{
    
    color:dimgray;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width:40%;
    height: 50px;
    float:left;
    margin-left:5%;
    padding-left:2%;
}
.half-width img{
    width:600px;

}
.top-banner{
    background-position: top;
    background-image:url("imegess/top-banner.png");
    background-repeat: no-repeat;
    
}
section{
    height:600px;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700px;
}
section{
    height: 500px;
    padding-bottom: 200px;
    margin-bottom: 120px;
}
.dream-area {
    background-image: url("imegess/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

